@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 100% 97%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 91%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 20% 91%;
    --muted-foreground: 215 16% 47%;
    --accent: 142 76% 36%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
    --chart-1: 220 52% 45%;
    --chart-2: 171 71% 59%;
    --chart-3: 210 20% 60%;
    --chart-4: 25 84% 60%;
    --chart-5: 0 0% 70%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 210 20% 98%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 171 71% 59%;
  }

  .dark {
    --background: 220 100% 97%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 91%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 20% 91%;
    --muted-foreground: 215 16% 47%;
    --accent: 142 76% 36%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217 91% 60%;
    --chart-1: 220 52% 45%;
    --chart-2: 171 71% 59%;
    --chart-3: 210 20% 60%;
    --chart-4: 25 84% 60%;
    --chart-5: 0 0% 70%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 210 20% 98%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 171 71% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
